<h3>{{ editingid ? 'Edit Video' : 'Add Video' }} for {{ subject?.name }}</h3>

<form [formGroup]="videoform" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="video name" formControlName="title" required />
  <input type="file" (change)="onfileselected($event)" accept="video/*" [required]="!editingid" />
  <button type="submit" [disabled]="videoform.invalid">
    {{ editingid ? 'Update Video' : 'Add Video' }}
  </button>
</form>

<ul>
  <li *ngFor="let video of videos">
    <p>{{ video.title }}</p>
    <video width="400"  controls>
      <source [src]="'http://localhost:3000' + video.url" type="video/mp4">
    </video>
    <button (click)="editvideo(video)">Edit</button>
    <button (click)="deleteVideo(video.id)">Delete</button>
  </li>
</ul>
