<div class="flex flex-col items-center">

  <div class="text-center shadow-lg bg-gray-100 rounded-lg px-6 py-12 w-72 mx-3 my-6 border border-primary border-2">
    <h5 class="text-xl font-semibold mb-8">{{subj.name}}</h5>
    <a [routerLink]="['/subject', subj.id]" class="bg-primary text-white p-2 rounded-lg">
      Watch Videos
    </a>
  </div>

  <div class="flex justify-center">
    <button (click)="onedit()" class="m-1 px-4 py-1 bg-primary text-white rounded-lg">Edit</button>
    <button (click)="ondelete()" class="m-1 px-4 py-1 bg-red-500 text-white rounded-lg">Delete</button>
  </div>

</div>